@import "~bootstrap/scss/bootstrap.scss";
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#semaforo{
    background-color: black;
    display: inline-block;
    padding: 15px;
}
#select{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
}
brillo {
  margin: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 1.5s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px #535FED;
  }
}